---
layout: markdown_page
title: Global Compensation
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Compensation Principles

1. We're an open organization and want to be transparent about our compensation principles and [paying local rates](/handbook/people-operations/global-compensation/#paying-local-rates), while not disclosing individual compensation. We've developed a [compensation calculator](/handbook/people-operations/global-compensation/#compensation-calculator) that provides an estimate of market rates for various roles, across the globe.
1. We offer [stock options](/handbook/stock-options/) for most positions.
1. Compensation aims to be at the 50th percentile of market for your region, your job title, your seniority, and your experience.
1. We base compensation on current position and performance, not on what we paid you last month.
1. When your position or title changes, we'll adjust your pay as soon as the change is made.
1. When your seniority or experience factor changes we'll change your pay in January.
1. Because your experience factor informs our pay, it should be as accurate a measurement of your individual experience level. We should not artificially manipulate the experience factor in order to achieve a desired compensation level.
1. If we change our standard compensation for a job role, we change it both for existing GitLabbers (in January) and new hires.
1. We don't offer ping pong tables or free lunches. We think it is more important to offer people flexibility and freedom. See the [Top 10 reasons to work for GitLab on our culture page](/culture/#advantages/).
1. The rent index depends on your [geographical area](/handbook/people-operations/global-compensation/#geographical-area).
   1. To determine your area, select the country you live in. This will filter out all areas outside of your country. Based on the remaining choices under "area," if you live within one hour and forty-five minutes of a city listed, you may use that as your location. If not, you will select "Everywhere else." If the only item listed for the country is "All," the country has the same Rent Index regardless of the city you live in. If applicable, a state or province might be listed instead of a city.
   1. If your country is not listed, reach out to People Ops to gather relevant data.
   1. When you move, [you have to inform us](/handbook/people-operations/code-of-conduct/#relocation) and we may adjust your compensation up or down. Refer to the ["move calculator"](/job-families/move) to see what the likely impact will be.
1. We hire across the globe, but we're not location agnostic. Your timezone, the market rate in your region, and the vicinity to users, customers, and partners can all be factors. For example, we may favor one applicant over another because they live in a region with a lower market rate or because we need someone in that timezone. All things being equal, we will hire people in lower cost markets vs. higher cost markets.
1. As you can see from our [contracts](/handbook/contracts/), compensation is typically set at a fixed monthly rate. People on quota (account executives, account managers, and sales leadership) have variable compensation that is about 50% of their On Target Earnings (OTE). Individual contributors in the sales organization have variable compensation that is purely based on commission. Solutions Architects currently have a lower variable component, we're not sure how this will evolve. All other people have fixed compensation (but we do have [bonuses and incentives](/handbook/incentives)).
1. Compensation decisions around level and experience levels and for functions not in the calculator are taken by the compensation committee<a name="compensation-committee"></a>. This committee consists of the CFO, CEO, and Chief Culture Officer. When there is no time to coordinate with the committee, the CEO can make a decision and inform the committee. When the CEO is away (e.g. vacation), the two other members of the committee can make a decision and inform the committee. Whatever the decision is, the compensation committee should be cc-ed (or bcc-ed) on the final email so that the committee members can know that the loop was closed.

## Regular Compensation

1. Employees of our Dutch entity (GitLab B.V.) will get their salary wired on the
25th of every month, and can see their pay slip in their personal portal on
[HR Savvy's system](https://hr-savvy.nmbrs.nl/) towards the end of the month.
1. Employees of our Dutch entity who are based in Belgium will get their salary wired  around the last day of each month and will receive their pay slip in their personal portal on [Boekfisk's system](http://www.boekfisk.be/)
1. Employees of our Dutch entity based in India that are employed through GitLab's co-employer [Lyra](http://lyrainfo.com/) will get their salary wired around the last day of the month. Lyra will send pay slips electronically but will be switching to a HR portal very soon so that pay slips and tax declaration forms can be accessed directly.
1. Employees of our US entity (GitLab Inc.) have payroll processed semi-monthly
through TriNet, and they can access their pay slips through the [TriNet portal](https://www.hrpassport.com).
1. Employees of our UK entity (GitLab Ltd) will get their salary wired on the last day of every month, and can see their pay slip via their personal portal on [Vistra's system](https://www.vistra.com/) towards the end of the month.
1. Employees of our German entity (GitLab GmbH) will get their salary wired on the last day of every month, and can see their pay slip via their [person portal](https://www.datev.de/ano/) on [RPI International Payroll's system](http://roehm-international.com/) towards the end of the month.
1. Employees of CXC Australia will be paid at the end of each month and can view their pay slips on CXC's portal. Everyone is given a login by CXC as part of their onboarding.
1. Employees of CXC Canada are paid fortnightly and are required to submit timesheets to their managers and then CXC. Access is given to a the portal as explained in the point above.
1. Employees of SafeGuard are paid montly and on the last day of the month (depending on the country). Payslips are provided electronically by SafeGuard.
1. Contractors to GitLab (either entity) should send their invoices for services rendered to payroll@gitlab.com
   - For 'fixed fee' contracts, it is OK to send the invoice before the time period
   that it covers is over. For example, an invoice covering the period of March 1-31 can be sent around March 15.
   - All invoices are internally reviewed, approved, and then payment is processed.
   This is usually a fast process, but be aware that it can incur delays around vacations. In principal, payments go out once per week on Fridays.
   - An invoice template can be found as a Google sheet named "Invoice Template" (also listed on the [finance page](/handbook/finance/) )

## Exchange Rates

These are the current exchange rates that should be used for converting amounts found in the handbook or when some team members are not paid in their local currency since GitLab's bank does not support their currency or there is a strong economic reason not to pay in local currency. The currencies that GitLab can pay in are published on the [contracts](/handbook/contracts#available-currencies) page. So we can try to keep compensation level in the local currency amount, People Operations will perform exchange rate reviews at six month intervals as part of the January 1 and July 1 [Oanda](https://www.oanda.com/currency/converter/) rates that are being used as benchmarks for the compensation calculator. Only changes of +/- 5% will be processed in each review. People Operations will confirm, by [letter of adjustment](/handbook/contracts/#letter-of-adjustment) any increases or decreases to compensation as a result of this review and update the exchange rate based on those dates in BambooHR. Any significant increases or decreases will be reviewed on a case-by-case basis before any changes are made. Team members may also [opt out](https://docs.google.com/document/d/1GMxFFMKL8ssEi8gPJzpc1xizSJHxrR2n0R5HSZn-G-g/edit?usp=sharing) of the reivews. If an opt out agreement is signed, they will be excluded from any future Exchange Rate reviews. GitLab retains the right to revisit the opt-out status in the future. Additionally, if a team member is impacted outside of this review period they should reach out to People Operations.

<%= partial "includes/people-operations/currency_exchange_listing" %>

## Paying Local Rates

Market rates for roles are different for different regions and countries.
We pay market rates instead of paying the same wage for the same role in different regions.
Paying the same wage in different regions would lead to:

1. A concentration of team members in low-wage regions, since it is a better deal for them, while we want a geographically diverse team.
1. Team members in high-wage regions having less discretionary income then ones in low-wage countries with the same role.
1. Team members in low-wage regions being in [golden handcuffs](https://en.wikipedia.org/wiki/Golden_handcuffs) and unlikely to leave even when they are unhappy.
1. If we start paying everyone the highest wage our compensation costs would increase greatly, we can hire fewer people, and we would get less results.
1. If we start paying everyone the lowest wage we would not be able to attract and retain people in high-wage regions.

Our [compensation calculator](/source/handbook/people-operations/global-compensation/#compensation-calculator) was updated in January 2018 to align [closer to market rates](/2018/03/23/gitlabs-global-compensation-calculator-the-next-iteration/). We believe you should be adequately compensated for not only your skill and experience levels, but also relative to the standard cost of living in your geographical area. We accomplish this by factoring in the employee salary at the 50th percentile for your job role in San Francisco along with the Rent Index of your metro area.

This approach should ensure that your compensation level always feels appropriate no matter where you're living, but we also recognize that simply factoring geographical location into our calculations at face value may prove problematic in very low-income areas. We've implemented a number of checks to ensure that we're being responsible and fair with how we compensate GitLabbers in these areas:
 *  No one is ever paid less than 41 percent of San Francisco's market, regardless of where they live
 *  GitLabbers may select any metro area within one hour and forty-five minutes of their residence when determining their geographical area

### Relocating

Different than business travel, vacation, or visiting a relative for a few weeks, relocation means that you will establish yourself in a new location outside of your current metro area. If you are ending your current residential living arrangement, spending more than six months in one location as part of an extensive period of travel and/or will have your mail delivered to an address in a different city please contact us.

As stated in the [code of conduct section of the handbook](/handbook/people-operations/code-of-conduct/#relocation/), you should first obtain written agreement (from your manager) when planning a relocation. It is the company's discretion to offer you a contract in your new location. At the time of the location update, we will take into consideration your new metro region when making a salary offer for continued employment.

At the onset, this practice sounds harsh when moving to a lower paid region. One might argue that it seems unfair for the organization to pay someone less for the same work in the same role, regardless of where they go. However, if you look at it from another angle for a minute and compare this practice to what most companies do, it should make more sense. For example, say you work for a company with physical locations and say they haven't accepted that remote work is as productive as coming into the office yet. If you wanted to pack up and move to a location where they did not have a physical site, you would have no alternative but to resign and seek new employment in your new location. You would find quickly that companies in the area pay at local employment market rates.

Now, let's say the company did have a site in your new location and they offered the flexibility to transfer. If they did not have a similar position open, you would have to either apply for a different open position in the same company or resign and apply externally (back to the realization that other companies will pay at local market rates). If you were lucky enough that they did have a similar role in the new location, a transfer would come with a pay rate based on the local market to ensure equity across all incumbents (people in the job) by location.

Adjusting pay according to the local market in all cases is fair to everyone.  We can't remain consistent if we make exceptions to the policy and allow someone to make greater than local market rate for the same work others in that region are doing (or will be hired to do).  We realize we might lose a few good people over this pay policy, but being fair to **all** team members is not negotiable.  It is a value we stand behind and take very seriously.

## Annual Compensation Review

During the fourth quarter of each year, People Operations will conduct a compensation review to ensure all team members are paid based on market data in the [compensation calculator](/handbook/people-operations/global-compensation/#compensation-calculator). This is not a Cost of Living Adjustment, but instead a review of the market changes. Rent Index and Experience Factor will continue to be a part of the compensation calculator equation. The annual compensation review is **not** directly linked to performance reviews nor the ability to be promoted. The increase percentage may vary for each person. For instance, experience factors are reviewed as part of a compensation adjustment or promotion, which GitLab encourages to happen independently from this review. If a team member was recently adjusted, the annual adjustment might yield no additional salary during the annual compensation review. This review acts as a sweep for each team member’s compensation to be evaluated at least once per year.

### Annual Compensation Review Timeline

1. People Operations will review all benchmarks, rent indexes, and country factors associated with the Compensation Calculator and propose revised inputs to the Compensation Committee for approval/implementation.
1. People Operations will reach out the managers to obtain updated experience factors for each active team member.
    * People Operations will create a spreadsheet with all active team members listing the following information: employee number (for People Ops use only), name, title, and level.
    * Manager will then use the [Experience Factor Guidelines](/handbook/people-operations/global-compensation/#experience-factor-guidelines) to assess where each team member is within their current position.
    * Remember that this is also a good time to update your team’s position description if it does not reflect the role.
1. People Operations will calculate the amount of the increase for each team member and obtain approval from Finance for the total budget impact. Depending on budget constraints, the increases may be adjusted up or down. Before sending to Finance, update the exchange rates to the most recent date available.
1. People Operations will generate a google sheet which will serve as a summary of increases for each department and share with all direct and indirect managers. This manager review will be the time for management to verify the compensation calculator inputs and adjust increases. While these adjustments are based on market data and experience factors, rather than performance, team members who are currently struggling to perform at their current level should have that communicated clearly and the manager should consider delaying the increase until performance reaches an commendable level.
1. Managers will inform the team members of the increase.
1. People Operations will stage the letters of adjustment, update [BambooHR](https://www.bamboohr.com/d/), and notify all payroll providers to be effective January 1st.
1. People Operations will generate letters of adjustment and stage for signatures. Each letter should also be accompanied by the [Code of Ethics Acknowledgment Form](/handbook/people-operations/code-of-conduct/).

### Manager Review

As part of the new [Annual Compensation Review](/handbook/people-operations/global-compensation/#annual-compensation-review-timeline), managers will review/approve the proposed salary increases to ensure that we are paying each team member to market. Please verify the compensation calculator inputs (experience factor, level, title) are accurate.

If you did not conduct an experience factor review with your direct report, please advise People Operations and follow the guidelines from the handbook. It is very important to you use the [Experience Factor Worksheet](https://docs.google.com/spreadsheets/d/1f_4Gm1I60V_d7ZD0O5pGX-Bu_19rCqTfSqfyGL4c2yo/edit#gid=0) to determine the correct final Experience Factor and to have discussions with your direct reports. It is very important that GitLabbers understand their [experience factor](/handbook/people-operations/global-compensation/#experience-factor-guidelines).

While some GitLabbers may not receive an increase due to already being at the right market rate for their Experience Factors, Level, Role, and Location there are other circumstances where an increase should be avoided. If there are any reasons as to why the team member should not receive the proposed increase to be aligned with their experience and market in our calculator, please ping brittany@ domain or barbie@ domain in the manager worksheet and add your comments in the “reasoning” cell. This could be due to a current performance issue, pending termination, etc. If you would like to delay the increase, please outline a proposed plan of action and deadline.

### Cost of Living Adjustment

For positions in the compensation calculator, each eligible team member will receive at least a prorated 3% increase in base salary as a Cost of Living Adjustment. Note: SDRs/BDRs will be reviewed separately in Q1 2018.

* Eligibility:
  1. The team member has not received a salary increase due to a promotion or an increase in experience factor since May 2017.
  1. The team member was hired before October 1, 2017.
  1. The team member's performance is at a commendable level as of December 2017.

* Proration:
  1. Increases will be prorated based on hire date in 2017 as follows:
    * January 2017 and prior = 100%
    * February = 92%
    * March = 83%
    * April = 75%
    * May = 67%
    * June = 58%
    * July = 50%
    * August = 42%
    * September = 33%
    * October = not eligible
    * November = not eligible
    * December = not eligible

* Annual Compensation Review and Cost of Living Adjustment
  - The Cost of Living Adjustment is not an additive to the Annual Compensation Review, but instead a supplement to, if necessary.
  - For example, if the Annual Compensation Review gave an output of a 1% increase, then the cost of living adjustment would be an additional 2% to equal 3%, taking proration into account.
  - If you have any questions on the breakdown of the increases in 2018, please reach out to People Ops.

## Experience Factor Guidelines

The experience factor is determined by the direct manager for each team member, and reviewed by all indirect managers. This should be done at least once per year for current employees and during the offer stage for candidates. This factor does not directly reflect years of work experience, but instead, demonstrated ability to drive projects and deliverables from the position description to completion within GitLab. The goal of quantifying experience factors, as it relates to compensation, is to ensure they are accurate to work toward getting to the right salary. Experience Factors should also be used in **coaching and developing team members**.

If a manager is new to the team member, and has not had time to assess the experience factor, collaboration with previous managers or colleagues to determine the person’s skills is encouraged. This can serve as a strong data point when assessing experience factors.

**Determining Experience Factor:**

1. Create an individual [Experience Factor Worksheet](https://docs.google.com/spreadsheets/d/1pKQZDR0tDhZwb78-m7Yg6H4fWhoNVoNLSu5gJNLwEOI/edit?usp=sharing) by saving a copy in the name of your team member. Please upload the completed experience factor worksheet into BambooHR.
1. Use the role description, including any appropriate requirements or responsibilities, to help populate the responsibility line items in the worksheet. It is important to take all aspects of the position description into account when determining experience factor. If the position description isn't correct, use this as an opportunity to update it. Also be sure to update the soft skills section of the worksheet. The percentages are the same for each team member at GitLab, but level should be taken into account when evaluating experience.
1. It is a strongly recommended to complete this with the participation of your team member. There is a secondary input and formula for the team member to derive their own experience factor. This secondary input won't affect their compensation but will be used as a discussion point between the manager and the team member. At a minimum the manager should share the worksheet once the inputs are complete.
  * It is critical that all managers share the experience factors with the respective team member, including how they arrived at that factor. Team Members should understand where they stand in relation to the individual experience factors and weights that led to the final number.
1. Once you have discussed the Experience Factor Worksheet and resulting final number with your team member, please add it to the file in BambooHR. This enables us to ensure that it is easy to find as a reference and discussion tool.
  * To add the file, login to BambooHR. Go to your team member's profile, and click on the documents tab. Upload the file to the "Experience Factor Worksheets" folder and select the option to share the file. Sharing the file will allow the team member to also view the worksheet.
1. The most recent [feedback cycle](/handbook/people-operations/360-feedback/) can be a helpful tool when distinguishing the experience factor the team member is currently performing at.
  * Feedback reviews should not be about judging, but helping people. We do not want feedback reviews where people are holding back, so these metrics are different as experience factors are used within the compensation tool.
1. Use the following factors as a guideline for the inputs into the worksheet.

| Experience Factor          | Range     |
|----------------------------|-----------|
| Learning the role          | 0.9-0.949 |
| Growing in the role        | 0.95-0.99 |
| Thriving in the role       | 1.0-1.049 |
| Expert in the role         | 1.05-1.1  |

Explanation of Experience factors:
* Learning the role (0.9-0.949): Recently promoted or new to the role. Needs a lot of guidance from the manager with the majority of tasks to understand requirements and deliverables expected.
* Growing in the role (0.95-0.99): Understands most of what is expected for deliverables, but needs some guidance with tasks to drive projects to completion.
* Thriving in the role (1.0-1.049): Understands all aspects of the role, needs limited guidance to drive advanced projects to completion.
* Expert in the role (1.05-1.1): Understands all aspects of the role, with almost no guidance to drive projects of any complexity to completion. Once a team member becomes an expert within their current level, the next step may be promotion if a role at the next level is needed at the company.

For additional guidance on how to determine an experience factor, please see the [Q&A Sessions](https://drive.google.com/drive/folders/0B5OISI5eJZ-DQzg2cE5GaEc3bFk) on the Google Drive. This will be replaced once an official training has been conducted.

If you have any questions around determining experience factors, please feel free to open an issue or email People Operations.

## Compensation Calculator

As a natural extension of the [Compensation Principles](#compensation-principles) outlined above, and our commitment to transparency, sharing, efficiency, directness, and boring solutions (amongst other [values](/handbook/values)), we developed a Compensation Calculator that we are rolling out for those roles in which we have the most contributors, and thus for whom the question about "what is fair compensation" comes up most frequently.
The [compensation of directors](#director-compensation) and executives is not set with the calculator.

The goals of the calculator are:

1. Calculate compensation for 200+ metro regions all over the world.
1. Based on a simple formula.
1. Based on market data.
1. That is as accurate as possible given the other constraints.

As with all things at GitLab, the compensation calculator is a constant work in progress.
Please send an email to `peopleops@ company domain` if/when you find a big difference between what the calculator suggests vs. what market data indicates. Please make sure to include all relevant links and data.

### The formula

Your compensation = `SF benchmark` x `(0.7 x (max (0.2, Rent Index + Hot Market Adjustment) / 1.26) + 0.30)` x `Level Factor` x `Experience Factor` x `Contract Type Factor` x `Country Factor`

where:

- `SF benchmark` is the employee salary at an experience factor of 1.0 at the 50th percentile for the role in San Francisco, which we determine using various sources of market data including AdvancedHr, LinkedIn, Glassdoor, Paysa, Payscale and [Comptryx](http://www.comptryx.com/). The SF benchmark used in each position is available in the [`roles.yml` file](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/roles.yml) in this [website's repo](https://gitlab.com/gitlab-com/www-gitlab-com/tree/master/). The SF Benchmark is determined by using the Median of Comp Data Sources.
- `Rent Index` is taken from Numbeo, which expresses the ratio of cost of rent in many metro areas to the average cost of rent in New York City (i.e. Rent Index in New York = 1.00). By dividing by 1.26, we normalize the rent index to San Francisco. A minimum rent index of 0.2 has been instituted so no one is paid less than 41% of San Francisco's market. We multiply the Rent Index by 0.7 and then add 0.3, so the sum would equal 1, i.e. in San Francisco you make San Francisco's benchmark. In addition, we added the full list of rent indices used is stored in the [`numbeo.yml` file](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/numbeo.yml).
- `Hot Market Adjustment` is an adjustment to any US based metro area to recognize that "hot markets" tend to have a Rent Index that is trailing (i.e. lower than) what one would expect based on compensation rates in the area. It is currently based on the [US Census Bureau's top 15 of fastest growing cities larger than 50,000 residents](https://www.census.gov/newsroom/press-releases/2018/estimates-cities.html). We found that hot markets are represented by high growth in the top 15 cities with the largest numeric increase as well as the top 15 fastest growing cities and towns. We speculate that in the short term the existing housing supply in the core of the metro area is not flexible, so growth shows up in the suburbs as well as population increase. We add a factor of 0.1 for every suburb mentioned in the list for a given metro area. We decided on using a constant factor instead of (for example) the actual rate of growth of the city since we are trying to capture the truly top hot markets while not overrepresenting the accuracy of the approach. We look at how many times a city is mentioned in each list and take the larger of the two numbers. For example, if Dallas, TX (or its suburb) is mentioned three times in the fastest growing list and only twice in the numeric increase list, we would add a factor of 0.3.
- `Level Factor` is currently defined as junior (0.8), intermediate (1.0), senior (1.2), staff (1.4), or manager (1.4). Marketing specific level factors are Associate and BDR/SDR (0.8), Marketing Manager and Senior BDR/Senior SDR (1.0), Senior Marketing Manager and Lead BDR/Lead SDR (1.2).
- `Experience Factor` falls between 0.9 - 1.1
- `Country Factor` is a ratio of the comp calc to market data; it is not a bottom up assertion of cost to employer. This can be a different factor in each country; [see below for further explanation](/handbook/people-operations/global-compensation/#country-factors). The full list of country factors is stored in the [`country_factors.yml` file](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/country_factors.yml).
- `Contract Type Factor` distinguishes between employee (1) or contractor (1.17), which can be found on the [`contract_types.yml` file](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/contract_types.yml). A contractor may bear the costs of their own health insurance, social security taxes and so forth, leading to a 17% higher compensation for the contractor. Visit our [contracts page](/handbook/contracts/) to learn more about the different types of contracts we offer.

See the calculator in action for example for the Developer role, on the Developer [job description](/job-families/engineering/developer/).

To convert USD to local currency, we use [the January 1 and July 1 Oanda exchange rates](#exchange-rates).

The compensation calculator is a tool to assist People Operations in determining a compensation package for new and existing team members. The results of the calculator are not binding. Written correspondence through a [contract or letter of adjustment](/handbook/contracts/#employee-contractor-agreements) specify all official compensation changes. We reserve the right to change the calculator at any point in time.

### How was it developed?

In developing the compensation formula above, we looked at the compensation of our
team members which had been set in the past (without the formula), and found out
that there was a statistically significant correlation between compensation and the
factors that are now in the formula. We purposefully chose to look for correlations
with metrics that are probably causal and definitely relevant in people's lives (the rent!).
This also has the advantage of letting us work with data that is readily available
publicly, as opposed to trying to scour the web for market compensation rates for _all_
roles in _all_ locations. Perhaps surprisingly, there was a stronger correlation between
compensation and _rent index_ than with the more general _cost of living_ index available
through Numbeo (or the _cost of living with rent_ index, for that matter); and so we moved
ahead with the Rent Index. The goal of the calculator is not to compensate people for their cost of living, the goal is to offer market rate compensation, and rent is a better indicator of that than cost of living.

#### Geographical Areas

As we gathered feedback from the compensation calculator, we realized in some cities that are not major metro areas, the calculator would come in low. To broaden our rent index data points, we incorporated Geographical Areas into the compensation calculator.

To determine geographical areas, we looked at what the [United Nations](https://unstats.un.org/unsd/methodology/m49/) outlines globally. To determine the rent indexes for each country please see the following process per geographical area and country:
1. Research via an official website what appropriate regions are within the country/area. For example, in the United States there are [four regions with nine subdivisions](https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf). In the [United Kingdom](https://www.bbc.co.uk/news/world-europe-18023389), for compensation purposes, there are four different areas.
1. Pull all numbeo data for the region selected.
1. Determine any outliers for the region (on the high end). Make these separate geographical areas.
1. Define a commutable region for the area (1.75 hours through a google search looking at prime time commute hours).
1. From the remaining data points, select the highest to be used for everywhere else in the region. (Most of these data points should be very close.)
1. If there is a historic Numbeo number that is higher than the current Rent Index, use the historic number.
1. Determine if a minimum rent index should be used in the region. (This would normally occur if there is a large gap between remaining data points.)
1. If there is no data for a country, do not include in the comp calculator. If needed, we can review the compensation based on the region and other salary data.
1. If there is no data for a state/province within a country, assign the lowest value of the other states/provinces.

Note: The Compensation Calculator lists out metro areas or states for user interface clarity, but the process above is followed for each region, not per state.

#### Country Factors

This list will be expanded as we gain more experience with the calculator.

All country factors can be seen in our [repository](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/country_factors.yml).

Process for Determining Country Factor:
1. Pull data for all positions where we are currently using a Comptryx benchmark, and where the data is available internationally.
1. For each country and position, match the location of the Comptryx data to the location of the compensation calculator to determine the multiplier.
  * For example, if you are using the benchmark for Amsterdam, Netherlands in the compensation calculator should you should correspondingly be using the Comptryx benchmark in Amsterdam, Netherlands.
1. The multiplier is derived from `Comptryx Benchmark` divided by `Compensation Calculator Model` for each position in the country. Note: If no data is available from Comptryx, we use Payscale data instead but add an additional factor of 0.15 to the multiplier. This is based on a comparison between Comptryx and Payscale data for locations where both are available.
1. Round the average multiplier to the nearest five hundreths to determine the final result.
1. Analyze the country factor against current team members for verification.

## Director Compensation

GitLab will use market data from Advanced-HR, specific to a Post Series C company, in order to generate offers and conduct a market review for Director level and above. Where market data is not available in the candidate or team member’s location, the People Operations Analyst will provide the Compensation Committee with an output using the location differential in the [compensation calculator](/handbook/people-operations/global-compensation/#compensation-calculator).

In addition to base compensation, Directors who are not already enrolled in the Sales Compensation Plan or other performance incentive plan are eligible for a 10% bonus of current base salary. The bonus will be paid out semi-annually solely based on Company performance against Plan targets, approved by the Board of Directors. The Director bonus will be pro rated for those team members who start after Jan 1st, or are promoted after July 1st. In addition, the team member must be actively employed by GitLab at the time of payout.

When pulling market data from Advanced-HR, the People Operations Analyst will provide the 50th percentile (or average if not available), in base pay and total target pay. Other data sources such as LinkedIn, Glassdoor, or Payscale may be used when market data is not available to cross check the compensation calculator output.

When hiring for a Director level or above position, the recruiters should tag the People Ops Analyst early on in the process to provide the relevant data.

GitLab reserves the right to change or discontinue the bonus program at any time. All bonus payouts are discretionary and require the achieving of specific company results that will be communicated each year.

## Setting Benchmarks

Whenever a new [role](/handbook/hiring/job-families/) is established, a new benchmark must also be determined. The People Ops Analyst is pinged on the merge request for a compensation review to start the process. The People Ops Analyst should ensure that they request is not for a role that already exists and has a benchmark.  Compensation Benchmarking is the process of using internal job descriptions to match salary survey job in order to identify the external market rate for each benchmark positions.  Sources like Comptryx, Payscale, Paysa, LinkedIn and Glassdoor are some of the sources used to determine salary benchmarks.  Compensation data can fluctuate from very high salary data to very low salary data for roles that have the same or similar job titles.  Example would be Field Marketing Manager.  A Field Marketing Manager at GitLab or another SaaS or Technology company salary benchmarks would and can be included with Field Marketing Manager for other Non Technology companies, as an example RedBull.  Though they have the same "title" the role, scope and salaries for these roles are very different.  Based on these variants in comp data we will lok at the relevant comp data for each role and use the Median for the benchmark.  A review of the Median against the average will be reviewed to ensure there is no large discrepencay with the proposed benchmark.
What is the Mean - The mean is the same thing as the average.  It is the result of dividing the sum of two or more values by the number of values.  So (a+b+c)/3= the mean or average.
What is the Median - The median, otherwise knows as the midpoint, is a very common term used in compensation and preferred to the mean.  In its simplest terms, the median is the middle value of a series of values laid out in numerical order.  It's the middle point of the data set.  Half of the values will be less than the median, and half will be higher than the median.
To review the Compensation Benchmark process please refer to the [New Roles Creation](/handbook/hiring/job-families/#new-role-creation).
